.name{
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    margin-left: -30px;
    // margin-bottom: -26px;
    margin-top: 20px;
    // font-family: cursive;
    color: var(--surface-900);
    // background-image: url('../../../../../assets/images/Purple\ Paradise.jpg');
    // background-size: cover;
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;
}